html {
  scroll-behavior: smooth;
  margin-left: 20px;
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/0fc9ded4-899e-408f-8b33-c893599d0397/de45bbk-e3759c26-66fc-47b2-a57c-1b816bb76595.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzBmYzlkZWQ0LTg5OWUtNDA4Zi04YjMzLWM4OTM1OTlkMDM5N1wvZGU0NWJiay1lMzc1OWMyNi02NmZjLTQ3YjItYTU3Yy0xYjgxNmJiNzY1OTUuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.reyL98bhx2djihEYE0_xoLxbJcBq8-XHeOYooyBoHKo");
  /* background-attachment: fixed; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100%;
  
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .card {
    flex: 1;
    margin: .5rem;
    min-width: 350px;
    max-width: 400px;
    background-image: url("https://thumb.ac-illust.com/96/9652359b7809389cf273d1915e775f56_t.jpeg");
    background-size: cover;
    height: 100%;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    border: 4px solid #222222;
    border-radius: 10px;
    /* margin-right: auto;
    margin-left: auto; */
    padding-bottom: 20px;
    /* margin-bottom: 20px; */
  }

  .img {
    width: 400px;
    height: auto;
    border-radius: 10px;
  }

  .moreinfo {
    color: #eee;
    background-color: rgb(234, 129, 161);
    border-radius: 10px;
    height: 40px;
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .newinput {
    border-radius: 5px;
  }

  .newphoto {
    background-color: antiquewhite;
    padding-left: 20px;
    padding-top: 1px;
    padding-bottom: 20px;
    border-radius: 10px;
  }

  .createphoto {
    border-radius: 5px;
    width: 100px;
    height: 30px;
    background-color: teal;
    color: white;
  }

  .updatebutton {
    display: block;
    background-color: plum;
    border-radius: 6px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .destroybutton {
    display: block;
    background-color: plum;
    border-radius: 6px;
    padding-left: 6px;
    padding-right: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .updateinput {
    border-radius: 5px;
  }

  .photoinfo {
    background-color: grey;
    border: 4px solid black;
  }

  .newinfo {
    background-color: beige;
    border: 4px solid black;
  }

  .modalbuttons {
    display: flex;
  }
}
