html {
  scroll-behavior: smooth;
  margin-left: 20px;
  background-image: url("https://img.freepik.com/premium-photo/abstract-background_196038-15399.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100%;
  
  
  .card {
    width: 400px;
    background-image: url("https://thumb.ac-illust.com/96/9652359b7809389cf273d1915e775f56_t.jpeg");
    background-size: cover;
    height: 100%;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    border: 4px solid #222222;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  .img {
    width: 400px;
    height: auto;
    border-radius: 10px;
  }

  .moreinfo {
    color: #eee;
    background-color: rgb(234, 129, 161);
    border-radius: 10px;
    height: 40px;
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .newinput {
    border-radius: 5px;
  }

  .newphoto {
    background-color: antiquewhite;
    padding-left: 20px;
    padding-top: 1px;
    padding-bottom: 20px;
    border-radius: 10px;
  }

  .createphoto {
    border-radius: 5px;
    width: 100px;
    height: 30px;
    background-color: teal;
    color: white;
  }

  .updatebutton {
    display: block;
    background-color: plum;
    border-radius: 6px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .destroybutton {
    display: block;
    background-color: plum;
    border-radius: 6px;
    padding-left: 6px;
    padding-right: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
  }
}
